@using FeatureToggle.Web.Models;
@model List<FeatureModel>
@{
    ViewBag.Title = "Feature";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Feature Toggle Suite Administration</h1>
                
            </hgroup>
            <p>
                Please set the feature availability here.
            </p>
        </div>
    </section>
}

@using (Html.BeginForm("Save", "Feature", FormMethod.Post))
{
   
        @*@Html.EditorForModel()*@
        <h2>List of features</h2>
        <table>
            @foreach (FeatureModel item in Model)
            {
            <tr> 
                <td>
                    @item.Name
                </td>
                <td>
                     @Html.DropDownList(item.Name, new SelectList(Enum.GetValues(typeof(NFeature.Configuration.FeatureState)), item.State))
                </td>
            </tr>
            }
            <tr>
                <td colspan="2">
                    <input value="Save" type="submit" Name="Save"/>
                </td>
            </tr>
    </table>
}

