@model FeatureToggle.Web.Models.FeatureModel
@{
    ViewBag.Title = "Feature";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Feature Administration</h1>
                <h2>-</h2>
            </hgroup>
            <p>
                This screen is for Administrators to set mode for each feature
            </p>
        </div>
    </section>
}

@using (Html.BeginForm())
{
    <p>
        @*@Html.EditorForModel()*@

        Feature 1    @Html.DropDownListFor(model => model.State, new SelectList(Enum.GetValues(typeof(NFeature.Configuration.FeatureState)))) <br /><br /><br /><br />
        Feature 2    @Html.DropDownListFor(model => model.State, new SelectList(Enum.GetValues(typeof(NFeature.Configuration.FeatureState)))) <br /><br /><br /><br />
        Feature 3    @Html.DropDownListFor(model => model.State, new SelectList(Enum.GetValues(typeof(NFeature.Configuration.FeatureState)))) <br /><br /><br /><br />
    </p>
    <input value="Update Feature Status" type="submit" />
}

