@{
    ViewBag.Title = "Feature";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Administration</h1>
                <h2>-</h2>
            </hgroup>
            <p>
                This screen is for Administrators to set mode for each feature
            </p>
        </div>
    </section>
}

<h2>Feature</h2>

<ol class="round">
    <li class="one">
        <h5>Feature 1</h5>
        Functionality of Feature 1
    </li>

    <li class="two">
        <h5>Feature 2</h5>
        Functionality of Feature 2
    </li>

    <li class="three">
        <h5>Feature 3</h5>
        Functionality of Feature 3
    </li>
</ol>
